html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

#footer {
    height: 60px;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
}

#wrap > .container {
    padding: 60px 15px 0;
    word-wrap: break-word;
    word-break:break-all;
}

.container .credit {
    margin: 20px 0;
}

#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

a:hover {
    text-decoration: none;
}